{{page-title 'Charts'}}
<nav>
  <LinkTo @route='charts.echart'>Echart</LinkTo>
  <LinkTo @route='charts.chartjs'>Chart.js</LinkTo>
  <LinkTo @route='charts.plotly'>Plotly</LinkTo>
  <LinkTo @route='charts.apex'>Apex Charts</LinkTo>
</nav>
{{outlet}}
